extends ../admin_layout
block adminDependencies
    - js = ["/js/build/dashboard.js", "https://cdn.bootcdn.net/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.js"];
    - jsSnippets = [`loadRecentActionsIntoContainer($("#actions-ctn"), null, ${modOnly})`];
block adminContent
    h1.page-header #{title}
    #actions-ctn