.dialog-ctn
    .dialog-overlay
    .dialog.dialog-md#beta-dialog
        .close &times;
        .pages
            .active(tab-name="enroll")
                .heading.no-margin
                    span.site #{config.siteName}
                    h1 加入测试计划
                    p.subhead 在最前沿进行测试，并帮助我们在功能上线前进行测试。
                .content
                    p 想要帮助我们测试功能并尽早使用它们吗?加入测试程序，在其他人之前获得新功能。我们会让你使用我们最新的功能集，你所要做的就是提供反馈，这样我们就可以在发布给大家之前确保这些功能是优秀的。
                    button.btn.btn-lg.btn-success#signup 注册
                    br
        .dialog-footer.align-end: a.btn.btn-popping(data-dialog-dismiss=true) 关闭