.dialog-ctn
    .dialog-overlay
    .dialog#help-dialog
        .close &times;
        .pages
            .active(tab-name="help")
                .heading.no-margin
                    span.site #{config.siteName}
                    h1 获取帮助
                    p.subhead 帮助您使用#{config.siteName}.
                .content
                    h3 获取帐户
                    p 您可以通过单击顶部导航栏中的“开始”来登录或创建 #{config.siteName} 帐户。完成此操作后，您可以输入当前帐户详细信息或创建一个新帐户。如果您愿意，我们还允许通过各种第三方服务进行身份验证。
                    h3 放置像素
                    p 放置像素很容易。拖动鼠标或手指到要放置像素的区域，放大，通过在调色板中单击来选择颜色，然后单击要放置的位置。
                    h3 键盘控制
                    p 您可以使用以下键盘控件：
                    ul
                        li #[kbd G]: 切换网格。
                        li #[kbd Space]: 切换放大/缩小。
                        li #[kbd Esc]: 退出颜色选择器，退出对话框，取消选择当前颜色。
                        li #[kbd P]: 选择鼠标指针下的当前颜色 #[em (仅限捐赠者)]。
                        li #[kbd &#x25B2; / W]: 向上平移
                        li #[kbd &#x25BC; / S]: 向下平移
                        li #[kbd &#x25C0; / A]: 向左平移
                        li #[kbd &#x25B6; / D]: 向右平移
                    h3 其他事项
                    p 如果您在其他方面需要帮助，请#[a(href="https://discord.gg/CgC8FTg") 在此处加入我们的 Discord]，以便我们为您提供帮助。
        .dialog-footer.align-end: a.btn.btn-popping(data-dialog-dismiss=true) 关闭