
extends ../layout
block dependencies
    - var pageTitle = "服务器错误"
block content
    .container.norctn
        h1 服务器错误
        p.text-muted.lead 很抱歉，我们在处理这个请求时遇到了麻烦。如果问题仍然存在，请重试，或者 #[a(href="https://github.com/dynastic/place/issues/new") 提交issue]。
        a(href="/") &laquo; 返回主页