extends ../layout
block dependencies
    - var pageTitle = "账户停用"
block content
    .container.norctn
        h1 账户停用
        p.text-muted 对你的离开感到遗憾！您的帐户已成功停用。感谢您使用 #{config.siteName}！ 要重新激活您的帐户，只需重新登录。
        a(href="/") &laquo; 返回主页