extends ../layout
block dependencies
    - var pageTitle = "账户删除"
block content
    .container.norctn
        h1 账户删除
        p.text-muted 很遗憾你要离开我们了！您的帐户正在等待删除，并将在7天内删除；要取回你的帐户，只需在7天内登录。感谢你使用 #{config.siteName}，我们会想你的！ 
        a(href="/") &laquo; 返回主页