extends ../layout
block dependencies
    - var css = ["https://cdn.bootcdn.net/ajax/libs/bootstrap-slider/9.9.1/css/bootstrap-slider.min.css", "https://cdn.bootcdn.net/ajax/libs/jquery-minicolors/2.3.6/jquery.minicolors.css", "/css/place.css"];
    - var pinnable = true;
    - var needsLegit = true;
    - var needsHelp = true;
    - var pageDesc = "在网络世界中，与其他用户一起合作进行一些惊人的创作！加入我们，看看当大家共享一个巨大的画布时会发生什么吧~";
block content
    +getViewExtensions("main")
    include views/place
    if user
        include views/beta-dialog
        .dialog-ctn
            .dialog-overlay
            .dialog#changelog-dialog
                .close &times;
                .pages
                    .active(tab-name="最新消息")
                        .heading.no-margin
                            span.site #{config.siteName}
                            h1 最新消息
                        #changelog-content
                .dialog-footer.align-end.
                    #[small: a#changelog-opt-out(href="javascript:void(0)", data-dialog-dismiss=true) 不再出现]&nbsp;&nbsp;&nbsp;#[a.btn.btn-popping(data-dialog-dismiss=true) 关闭]
    unless user
        include views/auth-dialog
    include views/help-dialog
    - var js = ["https://cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js", "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js", "https://cdn.jsdelivr.net/jquery.minicolors/2.1.2/jquery.minicolors.min.js", "https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js", "https://unpkg.com/eventemitter3@^4.0.0/umd/eventemitter3.min.js", "/js/build/socket.js", "/js/build/popout.js", "/js/build/place.js", "https://cdn.jsdelivr.net/gh/rmm5t/jquery-timeago@180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"];
