extends ../layout
block dependencies
    - var pageTitle = "选择一个用户名";
    - var css = ["/css/signin.css"];
block content
    - if (typeof username === "undefined") username = "";
    - if (typeof error === "undefined") error = null;
    .container
        form.form-signin(method="POST", action="/pick-username")
            input(type='hidden', name='_csrf', value=_csrf)
            h2.form-signin-heading 选择一个用户名
            label.sr-only(for="inputUsername") 用户名
            input.form-control#inputUsername(type="text", placeholder="用户名", name="username", value=username, required, autofocus, autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false")
            if captcha
                .
                    !{renderCaptcha()}
            if hasCommunityGuidelines || hasTOS
                .checkbox
                    label
                        input(type="checkbox", name="agreeToGuidelines")
                        span
                            | 我同意遵守 
                            if hasTOS
                                a(href="/tos") 服务条款
                            if hasTOS && hasCommunityGuidelines
                                |  和 
                            if hasCommunityGuidelines
                                a(href="/guidelines") 社区准则
                            | .
            button.btn.btn-lg.btn-primary.btn-block(type="Submit") 保存
            if error
                br
                .alert.alert-danger #[strong 啊这！] #{error.message}